

body {
    overflow: hidden;
    text-align: center;
    color: #fff;
    background: #000000;
    height: 100vh;
    max-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

#gradient
{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

p {
    font-size: 20px;
}


p.small {
    font-size: 15px;
}


a,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #fff;
}

a:hover{
    outline: 0;
    color: #fff !important;   
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 220px;
    border: 0;
    border-top: solid 2px;
    text-align: center;
}


hr.star-light {
    border-color: #fff;
}


header {
    text-align: center;
    color: #fff;
    overflow: hidden;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    max-height: 100vh;
    transform: translateY(-50%);
    position: static;
 
}


header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
}

header .intro-text .skills {
    font-size: 1em;
    font-weight: 500;
}

.socials {
    max-width:200px; 
    margin: auto;
}

.face {
    max-width: 200px;
}

@media(min-width:768px) {

    header .intro-text .name {
        font-size: 2em;
    }

    header .intro-text .skills {
        font-size: 0.9em;
    }
}

